.card {
    background-color: var(--border-color);
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 240, 223);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.btn {
    background-color: #ff4d4d;
    color: #ffff;
}


.btn:hover {
    background-color: #e14545;
    color: #ffff;
}