.logo h2 {
    color: #ff4d4d;
}

/* Navbar */
.nav-pills .nav-link {
    color: #555;
    font-weight: bold;
    padding: 0.75rem 1.25rem;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
    background-color: var(--green-color);
    color: #fff;
}

.dropdown-menu {
    padding: 5px;
    background-color: rgb(250, 240, 223);
}

.dropdown-menu :hover {
    background-color: var(--green-color);
}

.dropdown-item {
    border: 1px solid rgba(250, 240, 223, 0.89);
    margin: 2px;
}


div.row {
    margin-top: 20px;
    gap: 25px;
}

.h4 {
    font-weight: 1000;
}

.button {
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.button :hover {
    background-color: rgba(182, 132, 24, 0.925);
}

.nav-pills {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.zone2 {
    margin: 1cm 0px 0px 0px;
    padding: 10px 0px 2cm 0px;
    background-color: #dcd5c3;
}

.promotion {
    background-color: rgb(252, 97, 97);
    color: rgb(253, 247, 247);
}

.promotion-txt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul {
    color: black;
}

.nav-link {
    color: black;
    margin: 0 20px;
}

.nav-item {
    border-radius: 10px;
    gap: 20px;
}

.btn h6 {
    font-weight: 500;
}

p {
    font-style: unset;
    text-align: justify
}