<!-- promotion  -->
<div class="promotion container-fluid text-center p-1">
    <h6 class="promotion-txt mt-1"><b>Last day of promotion ( -50% off all products, Use discount : KHAD50OFF )</b>
    </h6>
</div>
<!-- fisrt navbar  -->
<nav class="navbar container p-4">
    <div class="container row align-items-center w-100">
        <!-- Search  -->
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Search...">
                <button type="button" class="btn btn-outline-secondary"> <i class="bi-search"></i> </button>
            </div>
        </div>
        <!-- Logo  -->
        <div class="col text-center">
            <h2 class="logo "> <b>SkinGlow</b> </h2>
        </div>
        <!-- Icon group -->
        <div class="col text-end ">
            <button type="button" class="btn btn-outline-secondary m-1"> <i class="bi-person"></i> </button>
            <button type="button" class="btn btn-outline-secondary m-1"> <i class="bi-bookmark-heart"></i> </button>
            <button type="button" class="btn btn-outline-secondary m-1" routerLink="/cart"> <i class="bi-cart4 "></i>
            </button>
        </div>
    </div>
</nav>
<!-- second navbar  -->
<ul class="nav nav-pills pb-2 mb-2 justify-content-center h6">
    <li class="nav-item">
        <a class="nav-link" routerLink="/main">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
</ul>