<!-- Main Section -->
<section class="main-section container" style="margin-top: 40px;">
    <div class=" main-content container d-flex align-items-end justify-content-end h-100">
        <div class="row">
            <div class="content text-right p-4">
                <h1>Reveal The <br> Beauty of Skin</h1>
                <p>Made using clean, non-toxic ingredients, our products are designed <br> for everyone.</p>
                <button class="btn btn-dark" routerLink="/products"> Shop Now</button>
            </div>
        </div>
    </div>
</section>